# Tf-Idf example

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
texts = [ "bad movie"
    "good movie", "not a good movie", 
    "did not like", "i like it, good movie",
    "good one", "I hate it, bad", 
    "terrible, bad", "almost good", 
    "not terrible", "terrible", 
    "terrible", "terrible",
         "very good movie", "fantastic good movie"
]
# using default tokenizer in TfidfVectorizer
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1, 2))
features = tfidf.fit_transform(texts)
 
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

,bad,good,good movie,it,like,movie,not,terrible
0,0.771236,0.000000,0.000000,0.000000,0.000000,0.636549,0.000000,0.000000
1,0.000000,0.432865,0.515519,0.000000,0.000000,0.470732,0.570333,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.747089,0.000000,0.664724,0.000000
3,0.000000,0.353848,0.421413,0.523990,0.523990,0.384802,0.000000,0.000000
4,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.664724,0.000000,0.000000,0.747089,0.000000,0.000000,0.000000,0.000000
6,0.771236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.636549
7,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.771236,0.636549
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
12,0.000000,0.526976,0.627599,0.000000,0.000000,0.573075,0.000000,0.000000
13,0.000000,0.526976,0.627599,0.000000,0.000000,0.573075,0.000000,0.000000